.payment-provider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}

.psp-logo {
  max-width: 50px;
  object-fit: contain;
}

section.container form {
  height: 650px;
  padding-top: 10px;
  margin-top: 0.2rem;
}

section.container button {
  padding: 12px 0;
}

section.container form h3 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
